.footer-footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    color: white;
    background-color: #7E9C67;
}
.footer-left h6,
.footer-right h6 {
    color: #FFF;
}
.footer-left {
    display: flex;
    gap: 4rem;
    align-items: center;
}
.footer-secondParagraph {
    word-spacing: 4rem;
}
.footer-right {
display: flex;
align-items: center;
gap: 1rem;
}
.footer-globe {
    width: 3rem;
    height: auto;
}
@Media (max-width: 390px) {
    .footer-footerContainer {
        padding: 1rem;
        height: 5rem;
        display: flex;
        flex-direction: row;
    }
    .footer-left {
        display: flex;
        gap: 2rem;
    }
    .footer-left h6,
    .footer-right h6 {
    font-size: 9px;
}
.footer-right {
    gap: 0;
}
.footer-globe {
    width: 2rem;
}
.footer-secondParagraph {
    word-spacing: 2rem;
}
}
