.footer-footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    color: white;
    background-color: #7E9C67;
}
.footer-left {
    display: flex;
    gap: 4rem;
    align-items: center;
}
.footer-secondParagraph {
    word-spacing: 4rem;
}
.footer-right {
display: flex;
align-items: center;
gap: 1rem;
}
.footer-globe {
    width: 3rem;
    height: auto;
}
