.header-headerContainer {
  display: flex;
  flex-direction: column;
  height: 22rem;
  width: 100%;
  /* Added image to .header style as I want it to take up the entire header*/
  background-image: url("../assets/header_image.png");
  background-size: cover;
  background-position: center;
  padding: 0rem 3rem;
  color: #fff;
  gap:14.5rem
}

.header-topContainer {
  display: flex;
  justify-content: space-between;

}

.link {
  align-self: flex-start;
}


.header-buttonContainer {
  display: flex;
  padding-top: 2.7rem;
  position: relative;
  gap: 3rem;
}

.header-logoContainer {
  display: flex;
  align-items: flex-end;
  align-self: flex-start;
  gap: 1rem;
  padding-top: 1rem;
  position: relative;
}

.header-logoContainer h1 {
  margin-bottom: 0.5rem;
}

/*För iPhone 12 Pro */
@media (max-width: 390px) {
.header-headerContainer {
  display: flex;
  flex-direction: row;
  height: 7rem;
  width: auto;
}
.header-topContainer {
  display: flex;
  align-items: left;
}
.header-logoContainer img {
  display: flex;
  width: 30%;
  height: auto;
  position: absolute;
  top: 0.5rem;
  /* perhaps not best solution, but works for now ie negative spacing */
  left: -2rem;
}
.header-logoContainer h1 {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
}
.header-buttonContainer {
  display: flex;
  align-items: flex-end;
  position: relative;
  /* perhaps not best solution, but works for now ie negative spacing */
  right: -3rem;
  padding-top: 1rem;
  gap: 3rem;
}
.header-buttonContainer h3 {
  z-index: 1;
  font-size: 7px;
  text-align: center;
}
}