.header-headerContainer {
  display: flex;
  flex-direction: column;
  height: 22rem;
  width: 100%;
  /* Added image to .header style as I want it to take up the entire header*/
  background-image: url("../assets/header_image.png");
  background-size: cover;
  background-position: center;
  padding: 0rem 3rem;
  color: #fff;
  gap: 14.5rem;
}

.header-topContainer {
  display: flex;
  justify-content: space-between;
}

.link {
  align-self: flex-start;
}

.header-logoContainer {
  display: flex;
  align-items: flex-end;
  align-self: flex-start;
  gap: 1rem;
  padding-top: 1rem;
}

.header-logoContainer h1,
.header-buttonContainer h4 {
  color: #fff;
}

.header-rightContainer {
  padding-top: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}
