.homePage-homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
  background-color: rgb(240, 243, 201);
}


.homePage-homeText p {
  color: #7E9C67;
}

.homePage-homeText {
  text-align: center;
  margin-top: 3rem;
}

.homePage-flexGrid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70rem;
  padding: 1.5rem;
  gap: 0.6rem;
  height: fit-content;
}
