
/*LOGIN PAGE*/

.loginPage-loginPageContainer {
  background-color: rgb(240, 243, 201);
  gap: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 2% 6rem 2% 6rem;
  width: 100%;
  height: 750px
}
.loginPage-leftContainer{
  display: flex;
  flex-direction: column;
}
.loginPage-rightContainer{
display: flex;
flex-direction: column;
gap: 1rem;

}
.loginPage-betweenButtons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.loginPage-welcomeBack {
  display: flex;
  justify-content: center;
}
.loginPage-iconContainer {
  display: flex;
  justify-content: end;
}
.loginPage-loginPopUpContainer {

}
.loginPage-registerPopUpContainer {
  padding-left: 13rem;
  padding-right: 13rem;
  
}
.loginPage-loginPopUpContainer.collapsed {
  display: none;
}
.loginPage-registerPopUpContainer.collapsed {
  display: none;
}

@Media (max-width: 390px) {
  .loginPage-leftContainer, .loginPage-iconContainer
  {
    display: none;
  }
  .loginPage-loginPageContainer {
    display: flex;
    flex-direction: column;
  }
  .loginPage-rightContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginPage-welcomeBack {
    font-size: 20px;
    padding-top: 1rem;
  }
  .loginPage-betweenButtons button {
    text-align: center;
  }
  .loginPage-betweenButtons h5 {
    font-size: 10px;
    width: fit-content;
  }
  .loginPage-registerPopUpContainer h6 {
    font-size: 12px;
  }
  
}