
/*LOGIN PAGE*/

.loginPage-loginPageContainer {
  background-color: rgb(240, 243, 201);
  gap: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 2% 6rem 2% 6rem;
  width: 100%;
  height: 750px;
}
.loginPage-leftContainer{
  display: flex;
  flex-direction: column;
}
.loginPage-rightContainer{
display: flex;
flex-direction: column;
gap: 1rem;

}
.loginPage-betweenButtons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.loginPage-welcomeBack {
  display: flex;
  justify-content: center;
}
.loginPage-iconContainer {
  display: flex;
  justify-content: end;
}
.loginPage-loginPopUpContainer {

}
.loginPage-registerPopUpContainer {
  padding-left: 13rem;
  padding-right: 13rem;
  
}
.loginPage-loginPopUpContainer.collapsed {
  display: none;
}
.loginPage-registerPopUpContainer.collapsed {
  display: none;
}
.loginPage-h5-register {

}
@Media (max-width: 390px) {
  .loginPage-leftContainer, 
  .loginPage-iconContainer
  {
    display: none;
  }
  .loginPage-loginPageContainer {
    display: flex;
    flex-direction: column;
  }
  .loginPage-rightContainer {
    display: flex;
    justify-content: center;
  }
  .loginPage-welcomeBack {
    font-size: 20px;
    padding-top: 1rem;
  }
  .loginPage-betweenButtons button {
    width: 4rem;
  }
  .loginPage-betweenButtons h5 {
    font-size: 10px;
    padding-right: 4rem;
    margin-bottom: 2rem;
    transform: translateY(-0.35rem);
  }
  .loginPage-h5-register {
   margin: 0;
  }
  
}