.full-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(240, 243, 201);
  padding: 1rem 6rem;
}

.inner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.address-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.address-logo {
  width: 2.5rem;
}

.line {
  width: 100%;
  height: fit-content;
}

.flex-container {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.half-container {
  align-items: center;
  gap: 10px;
  display: flex;
  width: fit-content;
}

.images-container {
  width: 100%;
  display: flex;
  height: fit-content;
  gap: 1rem;
  margin: 2rem 0rem;
}

.main-image-container {
  display: flex;
  width: 50%;
}

.grid-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  gap: 1rem;
}

.rental-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.image-flexbox {
  display: flex;
  height: 50%;
  gap: 1rem;
}

.rental-grid-image {
  object-fit: cover;
  width: 50%;
  height: auto;
  border-radius: 10%;
}

.vertical {
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
}

.left {
  align-items: flex-start;
}

.host-image {
  height: 100px;
  border-radius: 100%;
}

.description {
  justify-content: flex-start;
  overflow-y: hidden;
  height: 190px;
}

.right {
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

.see-more {
  display: block;
  background-color: #7e9c67;
  height: fit-content;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 15px;
}

.space {
  height: 2rem;
}

.reviews-container {
  width: 40rem;
  display: flex;
}

.reviews-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.review-container {
  width: 100%;
  height: fit-content;
  align-items: flex-start;
  gap: 1rem;
}

.review {
  background-color: #ffffff;
  height: 9rem;
  width: 100%;
  border-radius: 70px;
  overflow-y: scroll;
  padding: 20px 40px;
}

.amenities-container {
  display: flex;
  gap: 5rem;
}

.form-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #333a2e;
  flex: 1;
  padding: 10rem 30rem 0rem 0rem;
}

.inner-form-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 50px;
}

.booking-form {
  background-color: rgb(102, 206, 171);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.date-inputs {
  display: flex;
  flex-direction: row;
}

.guests-input {
  width: 100%;
}

.guests-input input {
  width: 100%;
}