.rightRegister-rightRegisterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.rightRegister-registerFormContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rightRegister-registerForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.rightRegister-registerFormGroup {
  display: flex;
  flex-direction: column;
}






.rightRegister-buttonContainer {
  display: flex;
}


.rightRegister-icon {
  background-image: url("../assets/LOGO_CONTAINER.svg");
  height: 5rem;
  width: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rightRegister-loginRegister {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.rightRegister-contactUs {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.rightRegister-inputGroup {
  width: 15rem;
  height: 1.5rem;
}
