*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3c4634;
}

body {
  font-family: "Poppins", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /*Detta tar bort den lilla sido scrollen*/
}

/*de 3 kan vi kanske ta bort sen*/
.layout {
  background-color: white; /*Denna*/
  display: flex; /*Denna*/
  flex-direction: column; /*Denna*/
  width: 100vw;
  /*Ändrade denna då layouten gjorde så att innehållet på homepage hamnade i footern*/
  min-height: 750px;
}

/*BUTTON COMPONENT*/
Button {
  border: none;
  outline: none;
  background-color: #7e9c67;
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 100px;
  transition: background-color 0.3s ease;
  transition: transform 0.1s ease;
  width: fit-content;
  height: fit-content;
}

Button:hover {
  background-color: #6b8857;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

Button:active {
  transform: scale(0.97);
  transition: transform 0.1s ease;
}

.line {
  width: 100%;
}

h1 {
  font-size: 40px;
  line-height: normal;
  font-family: "Kufam", sans-serif;
}

h2 {
  font-size: 36px;
  line-height: normal;
}

h3 {
  font-size: 32px;
  line-height: normal;
}

h4 {
  font-size: 26px;
  line-height: normal;
}

h5 {
  font-size: 22px;
  line-height: normal;
}

h6 {
  font-size: 18px;
  line-height: normal;
}

.h7 {
  font-size: 14px;
  line-height: normal;
}

p {
  font-size: 18px;
  line-height: normal;
}

input {
  font-size: 18px;
  line-height: normal;
  border-style: none;
  text-decoration: none;
  border-radius: 50px;
  padding-left: 10px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #7E9C67;
}

Button h5,
Button h4 {
  color: #FFF;
}