*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /*Detta tar bort den lilla sido scrollen*/
}

/*de 3 kan vi kanske ta bort sen*/
.layout {
  background-color: white; /*Denna*/
  display: flex; /*Denna*/
  flex-direction: column; /*Denna*/
  width: 100vw;
  /*Ändrade denna då layouten gjorde så att innehållet på homepage hamnade i footern*/
  min-height: 750px;
}

/*BUTTON COMPONENT*/
Button {
  border: none;
  outline: none;
  background-color: #7e9c67;
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 100px;
  transition: background-color 0.3s ease;
  transition: transform 0.1s ease;
}

Button:hover {
  background-color: #6b8857;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

Button:active {
  transform: scale(0.97);
  transition: transform 0.1s ease;
}

.line {
  width: 100%;
}

@media (max-width: 390px) {
  Button {
    display: flex;
    align-items: flex-end;
    width: 5%;
    height: 10%;
    font-size: 4px;
  }
}
